.home {
  min-height: 50vh;
  justify-content: center;
}

.heading {
  text-align: left;
  font-size: calc(1em + 1vw);
  color: #333;
  padding: 1rem;
  margin: 2rem 0;
  background: rgba(0, 95, 190, 0.05);
  grid-column: 1/5;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.container p {
  color: rgb(98, 96, 96);
  font-size: calc(0.7em + 0.7vw);
  line-height: 1.5;
  padding: 4rem 4rem 4rem 0;
}

.container img {
  border-radius: 5%;
}

.containerteam {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.team-member-heading {
  grid-column: 1/5;
}

.experience {
  grid-column: 1/3;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.infra {
  grid-column: 1/3;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.values {
  grid-column: 1/3;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.promise {
  grid-column: 1/3;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.about-content {
  font-size: calc(0.6em + 1vw);
  color: #999;
  line-height: 1.5;
  padding-bottom: 3rem;
}

.team {
  padding: 2rem 9%;
}

.team-members {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.team-member {
  flex: 1 1 20rem;
  text-align: center;
  padding: 1rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  border-radius: 1.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
}

.team-member img {
  width: 100%;
  height: auto;
  max-width: 250px;
  /* border-radius: 10%; */
  object-fit: cover;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.team-member h3 {
  font-size: calc(1.25em + 1vw);
  color: #333;
  padding-top: 1rem;
}

.team-member p {
  font-size: calc(0.75em + 1vw);
  color: #999;
  padding-top: 0.5rem;
}

@media (max-width: 768px) {
  .container {
    display: block;
  }
  .experience {
    display: block;
  }
  .infra {
    display: block;
  }
  .values {
    display: block;
  }
  .promise {
    display: block;
  }
  .containerteam {
    display: block;
  }
}
.about-img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
