.carousel-container {
  position: relative;
}

.carousel {
  display: flex;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.carousel__item {
  width: 100%;
  flex-shrink: 0;
  scroll-snap-align: start;
}

.carousel__image {
  display: block;
}

.controls {
  position: absolute;
  right: 0;
  bottom: 1em;
  left: 0;
  text-align: center;
}

.controls__dot {
  display: inline-block;
  width: 0.85em;
  height: 0.85em;
  border-radius: 50%;
  outline: none;
  background-color: #fff;
  opacity: 0.8;
  cursor: pointer;
  transition: opacity 0.2s;
}

.controls__dot:not(:first-child) {
  margin-left: 0.25em;
}

.controls__dot:hover,
.controls__dot:focus {
  opacity: 1;
}

/* Other styles */
p {
  line-height: 1.5;
}

.wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 60em;
  min-height: 100vh;
  box-shadow: 0 0 1em 1em rgba(0, 0, 0, 0.1);
  padding-bottom: 6em;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.intro {
  margin-top: 3.5em;
  max-width: 42em;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
