#home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  height: 80vh;
  width: 100%;
  align-items: center;
  gap: 1rem;
  background-image: none;
  border-bottom: 0.3rem solid rgba(0, 0, 0, 0.1);
}

.home-img img {
  width: 100%;
  height: auto;
  border-radius: 50px;
}

.home-text h1 {
  font-size: calc(4em + 1vw);
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 1rem;
}

.home-text p {
  font-size: calc(0.3em + 0.9vw);
  color: #999;
  padding: 1rem 0;
  line-height: 1.5;
}

.locations-showcase {
  max-width: 1300px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  align-items: center;
  padding: 40px 20% 60px;
}

.locations-showcase-image h1 {
  font-size: 2.5rem;
}

.locations-showcase-title {
  grid-column: 1 / 3;
}

.locations-showcase-title h3 {
  font-size: calc(2em + 1.2vw);
}

.locations-showcase-image h1 {
  color: #0a66c2;
}

.locations-showcase-image {
  background: #ffffff;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-bottom: 10px;
}

.office-building-img:hover {
  transform: scale(1.02);
  transition: 0.3s;
}

.locations-showcase-image:hover h1 {
  text-decoration: underline;
}

.office-building-img {
  width: 400px;
  height: 400px;
  border-radius: 10%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.locations-showcase-image p {
  line-height: 1.5;
  opacity: 50%;
  font-size: 2rem;
}

section {
  padding: 70px 14% 60px;
}
@media (max-width: 768px) {
  /* #home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .home-img img {
    width: 100%;
    height: auto;
    border-radius: 50px;
  } */

  .locations-showcase {
    padding: 40px 10% 60px;
  }

  .locations-showcase {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .locations-showcase-title {
    grid-column: 1;
  }
}
